
* {
  text-align: center;
}

body {
  font-family: 'Press Start 2P', cursive;
  min-height: 400px;
  max-width: 100%;
  background-image: url('https://images6.alphacoders.com/860/thumb-1920-860645.png');
  background-color: #111;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
   /*estilos*/
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

table {
  border: 2px solid rgb(253, 236, 0);
  border-collapse: collapse;
}

h1 {
  color: rgb(46, 250, 6);
}

th, tr, td {
  border: solid 3px rgb(248, 252, 4);
  color: rgb(0, 255, 0);
  padding-bottom: 10px;
}

input {
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Press Start 2P", cursive;
  width: 340px;
  height: 50px;
  padding: 10px;
  background-color:rgb(0, 255, 42);
  color: rgb(253, 253, 250);
  border: 0;
  cursor: pointer;
  transition: transform 100ms ease-in-out;
  box-shadow: 4px 4px 0 ;
  margin-top: 100px;
  margin-left: 40px;
}

h2 {
  color: rgb(190, 6, 6);
  font-size: 18px;
  margin-left: 70px;
  margin-top: 40px;
}

p {
  font-size: 15px;
  margin-right: 50px;
}

.buttons {
  width: 200px;
  margin-left: 25px;
  margin-bottom: 490px;
}

img {
  width: 400px;
  margin-right: 150px;
  margin-bottom: 70px;
  display: inline;
}
